{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta property='og:title' content='DrupalCamp 2015 Cebu'>
    <meta property='og:url' content='https://2015.drupalcebu.org/'>
    <meta property='og:type' content='article'>
    <meta property='og:description' content='DrupalCamp Cebu is the biggest Drupal event of the year in the Visayas and Mindanao. It will be a one day event, followed by a code sprint on the second day.'>
    <meta property='og:image' content='https://2015.drupalcebu.org/public/images/camp15-logo-fb.jpg'>
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@DrupalCampCebu'>
    <meta name='twitter:title' content='DrupalCamp Cebu 2015'>
    <meta name='twitter:description' content='DrupalCamp Cebu 2015. Join Drupal&#39;s largest event in Visayas and Mindanao! https://2015.drupalcebu.org #drupalcampcebu'>
    <meta name='twitter:image' content='https://2015.drupalcebu.org/public/images/camp15-logo.jpg'>
    <title>DrupalCamp Cebu 2015</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65741436-1', 'auto');
      ga('send', 'pageview');
    </script>

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {{ head }}
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="shortcut icon" href="/themes/custom/drupalcampcebu2015/favicon.ico" type="image/x-icon" />
    {{ styles }}
    {{ scripts }}
  </head>

  <body{{ attributes.addClass(body_classes) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
  </body>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
   <script src="themes/custom/drupalcampcebu2015/lib/flexslider/jquery.flexslider.js"></script>
   <script src="themes/custom/drupalcampcebu2015/public/js/flexslider/drupalcampcebu2015.flexslider.js"></script>
</html>
